.App {
  text-align: center;
  margin-top: 20px;
}
.uploadPage{
  margin: 20px auto;
  width: 50%;
}
.ant-upload.ant-upload-select-picture-card{
  float: none;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  vertical-align: middle;
}
.edit-img{
  max-height: 700px;
  max-width: 700px;
}
.edit-area{
  margin: 20px auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.ant-input-group{
  font-size: 18px;
  line-height: 18px;
  width: 350px;
  height: 80px;
}
.addNew{
  margin-top: 20px;
  margin-bottom: 20px;
}
.generate{
  margin-top: 20px;
}